<!DOCTYPE html>
<html>

<head>
  <title>
    Webshop
  </title>

  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/w3.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/rateit.css' />

</head>

<body>
  <%- include('header'); %>

  <div id="Home" class="tabcontent">
  <%- include('home'); %>
  </div>

  <% if (autheticated) { %>
  <div id="Shopping" class="tabcontent">
    <%- include('shoppingbasket'); %>
  </div>
  <%} %>
  
  <% if (admin) { %>
  <div id="Admin" class="tabcontent">
      <%- include('adminPanel'); %>
  </div>
  <%} %>

  <%- include('scripts'); %>

</body>

</html>